.banner-section {
  background-color: #222;
  padding: 80px 24px 60px;
  position: relative;
  display: flex;
  align-items: center;
}

.projectDetailView {
  /* max-width: 720px; */
  width: 100%;
  /* margin: 32px auto 44px; */
}

.projectDetailView .box {
  background-color: #ffffff07;
  padding: 44px 24px;
}

.projectDetailView .img-thumbnail {
  width: 100%;
  height: 100%;
  background: transparent;
  border-width: 0;
  min-width: 100%;
  margin: 0;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border: 2px solid #fff;
}

.projectDetailView .img-thumbnail img {
  object-fit: contain;
  aspect-ratio: 16 / 4;
  max-width: 200px !important;
}

.backBtn {

  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 12px;
  left: 24px;
  background-color: #fff;
}

.labelRole {
  border: 3px solid #ccc;
  padding: 16px;
  border-radius: 4px;
}

.core-tech {
  border: 3px solid #ccc;
  padding: 16px;
  border-radius: 4px;
}
.badge-category{
  background-color: #F9FBE7 !important;
  color: #888;
}