
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 4px;
}
.navbar-expand-lg .navbar-nav .nav-link.active{
    background-color: #265DF1;
    color: #fff;
    font-weight: bold;
}