@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
	font-family: "Lato", serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	place-items: top;
	min-width: 320px;
	min-height: 100vh;
	font-family: "Lato", serif;
}





@media (max-width:991px) {
	.carousel-banner {
		height: 100% !important;
		aspect-ratio: 16 / 10 !important;
	}

	.carousel-caption h1 {
		font-size: 36px !important;
	}

	.carousel-caption {
		padding: 32px 24px !important;
		max-width: 85% !important;
		left: 0 !important;
		right: 0 !important;
	}

	.bg-placement-bottom {
		bottom: -165px !important;
		max-width: 160px !important;
	}

	.about-me-media img {
		display: none !important;
	}

	.about-me-content {
		width: 100% !important;
		padding: 0 60px !important;
	}

	.about-me-container {
		flex-direction: column !important;
	}

	.img-top--right-overlap {
		max-width: 150px !important;
	}

	.img-top--left {
		top: 0 !important;
		left: 0 !important;
		max-height: 160px !important;
	}

	.img-bottom--right {
		max-width: 120px !important;
	}

	.testimonial-carousel {
		flex-wrap: nowrap !important;
		overflow: auto;
	}

	.testimonial-carousel .testimonial {
		min-width: 40% !important;
	}

	.container-space {
		padding-top: 45px !important;
		padding-bottom: 45px !important;
	}

	.testimonials-logos {
		margin-left: auto !important;
		margin-right: auto !important;
	}

	.testimonials-logos .logo-box {
		width: 33% !important;
	}

	.projects-list-container {
		padding: 45px 50px !important;
	}

	.contact-us-container {
		padding: 45px 0px 45px !important;
	}

	.contact-us-wrap p {
		max-width: 500px !important;
		margin: auto !important;
	}

	.tech-tag-container {
		max-width: 100% !important;
	}

	.about-me-container {
		padding-top: 45px !important;
		padding-bottom: 45px !important;
	}
}

@media (max-width:767px) {

	.bg-placement-bottom,
	.img-top--right-overlap,
	.img-top--left,
	.img-bottom--right {
		display: none !important;
	}

	.testimonial-carousel .testimonial {
		min-width: 80% !important;
	}

	.contact-us-wrap {
		padding: 0 15px !important;
	}

	.about-me-container {
		padding-top: 32px !important;
		padding-bottom: 32px !important;
	}

	.about-me-content {
		padding: 0 15px !important;
	}

	.projects-list-container {
		padding: 32px 15px !important;
	}

	.testimonials-container {
		padding: 32px 15px !important;
	}

	.testimonials-logos {
		width: 100% !important;
	}

	.testimonials-logos .logo-box {
		width: 50% !important;
		margin-top: 16px !important;
		padding-left: 8px !important;
		padding-right: 8px !important;
	}

	.navbar-brand img {
		max-height: 45px !important;
	}

	.navbar-toggler {
		border-color: #3662cb !important;
		padding: 9px !important;
	}

	.experience-caption {
		border-radius: 18px !important;
		height: 100% !important;
		position: relative !important;
		width: 100% !important;
		flex-wrap: wrap !important;
		padding-top: 24px !important;
		padding-bottom: 24px !important;
	}

	.experience-banner {
		display: none !important;
	}

	.experience-caption .box {
		width: 100% !important;
	}

	.experience-caption .box:nth-child(2) {
		width: 80% !important;
	}

	.bg-light {
		position: fixed !important;
		top: 0 !important;
		z-index: 5 !important;
		width: 100% !important;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2) !important;
	}

	.navbar-nav.ms-auto {
		margin-top: 16px !important;
	}

	.carousel.carousel-dark {
		margin-top: 71px !important;
	}

	.carousel-banner {
		display: none !important;
	}

	.carousel-dark .carousel-caption {
		position: relative !important;
		max-width: 100% !important;
		border-radius: 0 !important;
		min-height: 480px !important;
	}

	.carousel-caption h1 {
		font-size: 20px !important;
		font-weight: bold !important;
		line-height: normal !important;
	}
}