@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

#root {
	width: 100%;
}

.pointer {
	cursor: pointer;
}

.container-space {
	padding-top: 90px;
	padding-bottom: 90px;
}

.portfolio-grid {
	margin-top: 24px;
}


.bg-light {
	background: #fff !important;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
	z-index: 2;
}

.slick-dots li {
	margin: 0 !important;
}

.slick-dots li button:before {
	font-size: 12px !important;
}

.onboarding-page {
	max-width: 750px;
	margin: auto;
	background: #fff;
	padding: 54px 24px 54px 24px;
	border-radius: 4px;
}

@media (max-width:767px) {
	.onboarding-page {
		padding: 36px 24px 36px 24px;
	}

	.onboarding-page.project-form {
		padding: 36px 15px 36px;
	}

	/* h3 {
		font-size: 2rem !important;
	} */
}

.cta {
	text-align: right;
	margin-top: 28px;
	margin-bottom: 28px;
}

.cta .btn {
	width: 100%;
	border-radius: 3px;
}

.admin-container .row {
	--bs-gutter-x: 0;
}

.onboarding--page .onboarding--banner img {
	max-width: 100%;
	height: auto;
	height: 100%;
	/* aspect-ratio: 12/12.3; */

}

@media (max-width:767px) {
	.onboarding--page .onboarding--banner img {
		height: auto;
		aspect-ratio: 16/9;
	}
}

.onboarding--page .onboarding--banner {
	position: relative;
	z-index: 1;
}

.banner-overlap {
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.onboarding--banner {
	min-height: calc(100vh - 156px);
}

@media (max-width:767px) {
	.onboarding--banner {
		min-height: auto;
	}
}

.banner-overlap h1 {
	color: #fff;
}

.form-control {
	height: 60px;
	border-color: #e6e6e6;
	border-width: 2px;
}

.onboarding-page h3 {
	font-size: 3rem;
	color: #212529;
	margin-bottom: 44px;
	font-weight: 300;
}

.forgot-account {
	text-align: right;
	margin-top: 16px;
	font-size: 16px;
}

.forgot-account a {
	font-size: 16px;
}

.sign-in-google {
	border-color: #48A4F5;
	height: 60px;
	font-weight: 400;
	font-size: 16px;
	padding: 6px 45px;
	border-radius: 12px;
	background-color: #fff;
	color: #121212;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sign-in-google span {
	display: inline-flex;
	align-items: center;
}

.nsm7Bb-HzV7m-LgbsSe-Bz112c {
	margin-right: 12px;
}

.need-account p {
	display: flex;
	align-items: center;
	margin: 0;
	line-height: 24px;
	justify-content: center;
}

.need-account .btn {
	padding-top: 0;
	padding-bottom: 0;
	line-height: 24px;
}

.need-account .btn:hover {
	text-decoration: underline;
}

.admin-panel .sidebar {
	min-height: calc(100vh - 156px);
	background-color: #222;
	color: #fff;
}

@media (max-width:767px) {
	.admin-panel .sidebar {
		min-height: auto;
		aspect-ratio: 16/9;
	}
}

.admin-panel .sidebar ul {
	display: flex;
	flex-direction: column;
}

.admin-panel .sidebar ul li:last-child {
	margin-top: 184px;
}

@media (max-width:767px) {
	.admin-panel .sidebar ul li:last-child {
		margin-top: 0;
	}
}

.admin-panel .sidebar ul a,
.admin-panel .sidebar ul button {
	padding: 15px;
	text-decoration: none;
	width: 100%;
	color: #fff;
	border-width: 0;
	background-color: transparent;
	display: inline-block;
	text-align: left;
}

.admin-panel .sidebar ul button:hover {
	background-color: #181818;
	color: #fff;
}

.admin-panel .sidebar ul li:last-child button {
	color: #b50b0b;
	display: inline-block;
	text-align: center;
	background-color: #fff;
	width: 100%;
}

.admin-panel .sidebar ul li:last-child button:hover {
	background-color: #b50b0b;
	color: #fff;
	font-weight: 600;
}

.admin-panel .sidebar h5 {
	margin-top: 32px;
	margin-bottom: 32px;
}

@media (max-width:767px) {
	.admin-panel .sidebar h5 {
		display: none;
	}
}

.onboarding-page.project-form {
	max-width: 100%;
}

.onboarding-page.project-form .cta {
	margin-top: 32px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	width: 100%;
	text-align: right;
}

.onboarding-page.project-form .cta button {
	max-width: 240px;
}

@media (max-width:767px) {
	.onboarding-page.project-form .cta button {
		max-width: 100%;
	}
}


.recaptcha-container {
	position: relative;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
}

.feedback-button {
	rotate: 90deg;

	position: fixed;
	right: -44px;
	bottom: 30%;
	padding: 15px 25px;
	background-color: #fff;
	/* Button color */
	color: #222;
	font-size: 16px;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: all 0.3s ease;
	border: 1px solid #888;
	padding: 12px;
}

.feedback-button:hover {
	background-color: #0056b3;
	/* Darker shade on hover */
	transform: scale(1.05);
	/* Slight zoom effect */
	color: #fff;
}

:root {
	font-family: "Lato", serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	place-items: top;
	width: 100%;
	flex-direction: column;
	min-height: 100vh;
	font-family: "Lato", serif;
}





@media (max-width:991px) {
	.carousel-banner {
		height: 100% !important;
		aspect-ratio: 16 / 10 !important;
	}

	.carousel-caption h1 {
		font-size: 36px !important;
	}

	.carousel-caption {
		padding: 32px 24px !important;
		max-width: 85% !important;
		left: 0 !important;
		right: 0 !important;
	}

	.bg-placement-bottom {
		bottom: -165px !important;
		max-width: 160px !important;
	}

	.about-me-media img {
		display: none !important;
	}

	.about-me-content {
		width: 100% !important;
		padding: 0 60px !important;
	}

	.about-me-container {
		flex-direction: column !important;
	}

	.img-top--right-overlap {
		max-width: 150px !important;
	}

	.img-top--left {
		top: 0 !important;
		left: 0 !important;
		max-height: 160px !important;
	}

	.img-bottom--right {
		max-width: 120px !important;
	}

	.testimonial-carousel {
		flex-wrap: nowrap !important;
		overflow: auto;
	}

	.testimonial-carousel .testimonial {
		min-width: 40% !important;
	}

	.container-space {
		padding-top: 45px !important;
		padding-bottom: 45px !important;
	}

	.testimonials-logos {
		margin-left: auto !important;
		margin-right: auto !important;
	}

	.testimonials-logos .logo-box {
		width: 33% !important;
	}

	.projects-list-container {
		padding: 45px 50px !important;
	}

	.contact-us-container {
		padding: 45px 0px 45px !important;
	}

	.contact-us-wrap p {
		max-width: 500px !important;
		margin: auto !important;
	}

	.tech-tag-container {
		max-width: 100% !important;
	}

	.about-me-container {
		padding-top: 45px !important;
		padding-bottom: 45px !important;
	}
}

@media (max-width:767px) {

	.bg-placement-bottom,
	.img-top--right-overlap,
	.img-top--left,
	.img-bottom--right {
		display: none !important;
	}

	.testimonial-carousel .testimonial {
		min-width: 80% !important;
	}

	.contact-us-wrap {
		padding: 0 15px !important;
	}

	.about-me-container {
		padding-top: 32px !important;
		padding-bottom: 32px !important;
	}

	.about-me-content {
		padding: 0 15px !important;
	}

	.projects-list-container {
		padding: 32px 15px !important;
	}

	.testimonials-container {
		padding: 32px 15px !important;
	}

	.testimonials-logos {
		width: 100% !important;
	}

	.testimonials-logos .logo-box {
		width: 50% !important;
		margin-top: 16px !important;
		padding-left: 8px !important;
		padding-right: 8px !important;
	}

	.navbar-brand img {
		max-height: 45px !important;
	}

	.navbar-toggler {
		border-color: #3662cb !important;
		padding: 9px !important;
	}

	.experience-caption {
		border-radius: 18px !important;
		height: 100% !important;
		position: relative !important;
		width: 100% !important;
		flex-wrap: wrap !important;
		padding-top: 24px !important;
		padding-bottom: 24px !important;
	}

	.experience-banner {
		display: none !important;
	}

	.experience-caption .box {
		width: 100% !important;
	}

	.experience-caption .box:nth-child(2) {
		width: 80% !important;
	}

	.bg-light {
		position: fixed !important;
		top: 0 !important;
		z-index: 5 !important;
		width: 100% !important;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2) !important;
	}

	.navbar-nav.ms-auto {
		margin-top: 16px !important;
	}

	.main-information-page {
		margin-top: 71px !important;
	}

	.carousel-banner {
		display: none !important;
	}

	.carousel-dark .carousel-caption {
		position: relative !important;
		max-width: 100% !important;
		border-radius: 0 !important;
		min-height: 480px !important;
	}

	.carousel-caption h1 {
		font-size: 20px !important;
		font-weight: bold !important;
		line-height: normal !important;
	}

}

@media (max-width:767px) {
	.about.light {
		margin-top: 130px;
	}

	.container.container-space.carrier-points {
		padding-top: 0 !important;
	}

	.achievement-container {
		flex-wrap: wrap;
		padding: 0 15px;
		justify-self: center;
	}

	.about .achievement-item {
		width: 90%;
		padding: 24px 16px;
	}

	.video-intro iframe {
		max-width: 100%;
		aspect-ratio: 16 / 10;
		height: auto;
		width: 100%;
	}

	.container.featured_project {
		display: none;
	}

	.about .progress-bar {
		margin: 0;
		border-radius: 0 4px 4px 0;
		height: 40px;
		max-width: 160px;
		padding-left: 8px;
	}

	.about .rating {
		border-radius: 0 4px 4px 0;
		padding: 0px 8px;
	}

	.projectDetailView .box {
		padding: 24px;
		max-width: 95%;
	}

	.projectDetailView .bg-success,
	.projectDetailView .badge-category {
		display: none;
	}

	.backBtn .btn-txt {
		display: none;
	}

	.backBtn .btn-icon {
		margin-right: 0 !important;
	}

	.backBtn {
		top: 8px;
		left: 8px;
	}

	.nav-tabs {
		white-space: nowrap;
		flex-wrap: revert;
		overflow-x: auto;
		overflow-y: hidden;
		position: sticky;
		top: 73px;
		background: #fff;
	}
}

.backBtn .btn-icon {
	margin-right: 8px;
}